@charset "utf-8";
body{
    font-family: sans-serif;
    background: #909090;
    color:#fff;
    margin: 0 auto;

}

h2{
    text-align: center;
}
.col{
    float: left;
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}
.price-box{
    background:rgb(255, 170, 241);
    color:#555;
    list-style-type: none;
    border: 1px solid #555;
    margin:0;
    padding: 0;

}

.price-box  .header{
    background: #111;
    color: rgb(255, 170, 241);
    font:25px;
}

.price-box  .header.header-green{
    background: #111;
}

.price-box   li{
    padding: 20px;
    border-bottom: 20px solid rgb(235, 70, 171) 22, 60);
    text-align: center;

}
.price-box li:hover{
    background: #aff;
}

.btn{
    background:#111;
    border:none;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}

@media(max-width:760px){
    .col{
        width:100%;
    }
}


